.static-width {
    width: 500px;
    height: 500px;
    background-color: mistyrose;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Windows_Settings_app_icon.png/1024px-Windows_Settings_app_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px;
}